.header {
    .title {
        padding: gr(20) 0;
        border-bottom: 2px solid #000080;
        h1 {
            font-size: gr(48);
            font-weight: bold;
            color: #4169E1;
            text-align: center;
            margin: 0;
        }
    }
}